<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="text-md-center">
                    <a class="logo" href="/">
                      <img src="/images/logo-small-fullcolor-white-tag.png" alt="QC Family Tree">
                    </a>
                </div>
                <div class="text-md-center">
                    <a href="tel:7043922346">704-392-2346</a>
                </div>
                <div class="text-md-center">
                    <a href="mailto:greg@qcfamilytree.org">Email Us</a>
                </div>
                <div class="text-md-center">
                    <a href="https://goo.gl/maps/jr6zh85UM9G2" target="_blank">
                        2910 Parkway Avenue<br>
                        Charlotte, North Carolina 28208
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <nav>
                    <div class="row">
                        {% for menu in craft.entries.section('pages').level(1).limit(3) %}
                            {% if menu.showInMenu %}
                                <div class="col-md-4">
                                    <ul>
                                        <li>
                                            <a itemprop="url" href="{{ menu.url }}"><span itemprop="name">{{ menu.title }}</span></a>
                                            {% if menu.children.count %}
                                                <ul>
                                                    {% for child in menu.children %}
                                                        {% if child.showInMenu %}
                                                            <li>
                                                                <a itemprop="url" href="{{ child.url }}"><span itemprop="name">{{ child.title }}</span></a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="social-footer">
        <div class="container">
            <div class="row">
                <div class="col-5 text-md-center">
                    <div>Copyright © {{ now | date('Y') }} QC Family Tree</div>
                    <a href="http://jacksutherland.com" target="_blank">Site by Jack</a>
                </div>
                <div class="col-7 text-right">
                    <a href="http://facebook.com/qcfamilytree" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="http://twitter.com/qcfamilytree" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>