{% for module in modules %}
	{% switch module.type %}

		{% case "zPattern" %}
			<div class="z-pattern{% if loop.index == 1 %} first-z-pattern{% endif %}">
		        <div class="container">
		            <div class="row">
		            	{% if module.imageAlignment == 'left' %}
			                <div class="col-md-6 order-1 order-md-1">
			                    <div class="image-block" style="background-image: url({{ module.image.one().url('zPattern') }});" title="{{ module.header }}"></div>
			                </div>
		                {% endif %}
		                <div class="col-md-6 order-2 {% if module.imageAlignment == 'left' %}order-md-2{% else %}order-md-1{% endif %}">
		                    <div class="text-block">
		                        <div class="text-block-content">
		                        	{{ module.icon | raw }}
		                        	{% if module.header | length %}
		                        		<h4>{{ module.header }}</h4>
		                        	{% endif %}
		                        	{% if module.text | length %}
		                        		<h5>{{ module.text }}</h5>
		                        	{% endif %}
		                        	{% if module.buttonText == "[DONATE]" %}
										<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
											<input type="hidden" name="cmd" value="_s-xclick">
											<input type="hidden" name="hosted_button_id" value="WZKDS4V4U6K2E">
											{# <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> #}
											<button type="submit" class="btn" alt="PayPal - The safer, easier way to pay online!">Donate Now!</button>
											<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
										</form>
		                            {% elseif module.buttonText | length %}
		                            	{% if module.buttonEntry.count %}
			                        		<div>
			                        			<a class="btn" href="{{ module.buttonEntry.one().url }}">{{ module.buttonText }}</a>
			                        		</div>
			                        	{% elseif module.buttonExternalUrl | length %}
			                        		<div>
			                        			<a class="btn" href="{{ module.buttonExternalUrl }}" target="_blank">{{ module.buttonText }}</a>
			                        		</div>
			                        	{% endif %}
		                        	{% endif %}
		                        </div>
		                    </div>
		                </div>
		                {% if module.imageAlignment == 'right' %}
			                <div class="col-md-6 order-1 order-md-2">
			                    <div class="image-block" style="background-image: url({{ module.image.one().url('zPattern') }});" title="{{ module.header }}"></div>
			                </div>
		                {% endif %}
		            </div>
		        </div>
		    </div>

		    {% case "callout" %}
		    	<div class="text-banner">
			        <div class="container">
			            <div class="row">
			                <div class="col">
			                	{% if module.showTree %}
				                    <div>
				                        <img src="/images/QCFT-Tree-Medium.png" alt="QC Family Tree">
				                    </div>
			                    {% endif %}
			                    {% if module.header | length %}
	                        		<h3>{{ module.header }}</h3>
	                        	{% endif %}
	                        	{% if module.text | length %}
	                        		<p>{{ module.text }}</p>
	                        	{% endif %}
			                     {% if module.buttonText | length and module.buttonEntry.count %}
	                        		<div class="mt-4">
	                        			<a class="btn" href="{{ module.buttonEntry.one().url }}">{{ module.buttonText }}</a>
	                        		</div>
	                        	{% elseif module.buttonText | length and module.buttonUrl | length %}
	                        		<div class="mt-4">
	                        			<a class="btn" href="{{ module.buttonUrl}}" target="_blank">{{ module.buttonText }}</a>
	                        		</div>
	                        	{% endif %}
			                </div>
			            </div>
			        </div>
			    </div>

			{% case "bannerImage" %}
				<div class="image-banner" style="background-image: url({{ module.image.one().url('hero') }})"></div>

		    {% case "contactForm" %}
		    	<div class="contact">
			        <div class="container">
			            <div class="row">
			                <div class="col-12">
			                    {% if module.header | length %}
	                        		<h3>{{ module.header }}</h3>
	                        	{% endif %}
	                        	{% if module.subtitle | length %}
	                        		<h5>{{ module.subtitle }}</h5>
	                        	{% endif %}
			                </div>
			            </div>
			            <form class="contact-form" action="/forms/sendmail.php">
			            	<input type="hidden" name="toemail" value="{{ socialMedia.contactFormToEmailAddress }}">
			            	<input type="hidden" name="firstname" value="">
			            	<div class="row justify-content-md-center">
			                    <div class="col-md-12 col-lg-8">
			                    	<div class="d-none ty-message">{{ socialMedia.contactFormThankYouMessage }}</div>
	                        		<div class="contact-form-errors"></div>
	                        	</div>
							</div>
			                <div class="row justify-content-md-center">
			                    <div class="col-md-6 col-lg-4">
			                        <div>
			                            <input type="text" name="first" placeholder="First Name *">
			                        </div>
			                    </div>
			                    <div class="col-md-6 col-lg-4">
			                        <div>
			                            <input type="text" name="last" placeholder="Last Name *">
			                        </div>
			                    </div>
			                </div>
			                <div class="row justify-content-md-center">
			                    <div class="col-md-6 col-lg-4">
			                        <div>
			                            <input type="text" name="email" placeholder="Email *">
			                        </div>
			                    </div>
			                    <div class="col-md-6 col-lg-4">
			                        <div>
			                            <input type="text" name="phone" placeholder="Phone">
			                        </div>
			                    </div>
			                </div>
			                <div class="row justify-content-md-center">
			                    <div class="col-md-12 col-lg-8">
			                        <div>
			                            <textarea name="comments" placeholder="Message"></textarea>
			                        </div>
			                    </div>
			                </div>
			                <div class="row justify-content-md-center">
			                    <div class="col-md-12 col-lg-8">
			                        <div>
			                            <button class="btn">Send</button>
			                        </div>
			                    </div>
			                </div>
			            </form>
			        </div>
			    </div>

			{% case "googleMap" %}
			    <div class="map">
			    	{{ socialMedia.mapEmbedCode | raw }}
			    </div>

			{% case "richText" %}
				{% if module.richText | length %}
				    <div class="rich-text">
				    	<div class="container">
				            <div class="row">
				                <div class="col-12 col-lg-10 col-xl-9 m-auto">
	                        		{{ module.richText | raw }}
				                </div>
				            </div>
				        </div>
				    </div>
			    {% endif %}

			{% case "video" %}
			    <div class="video">
			    	<div class="container">
				            <div class="row">
				                <div class="col-12 col-lg-10 col-xl-9 m-auto">
	                        		{{ module.embedCode | raw }}
				                </div>
				            </div>
				        </div>
			    </div>

			{% case "calendar" %}
			    <div class="calendar">
			    	<div class="container">
				            <div class="row">
				                <div class="col-12">
	                        		<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=4li94olghbthi73ri4jtqjpfqk%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
				                </div>
				            </div>
				        </div>
			    </div>

	{% endswitch %}	
{% endfor %}