{% set resourceVersion = "2.0" %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135901746-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-135901746-1');
        </script>

        <meta name="robots" content="noindex, nofollow">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="canonical" href="{% if entry.canonicalUrl | length %}{{ entry.canonicalUrl }}{% else %}{{ craft.request.url }}{% endif %}" />

        {# SEO and Social Meta Data #}

        {% if entry %}
            {% if entry.seoTitle | length %}
                {% set socialTitle = entry.seoTitle %}
            {% elseif entry.heroHeader and entry.heroHeader | length %}
                {% set socialTitle = entry.heroHeader %}
            {% else %}
                {% set socialTitle = entry.title %}
            {% endif %}
            {% if entry.seoDescription | length  %}
                {% set socialDesc = entry.seoDescription %}
            {% else %}
                {% set socialDesc = socialTitle %}
            {% endif %}

            <title>{{ socialTitle }} | QC Family Tree</title>
            <meta name="description" content="{{ socialDesc }}">

            <meta property="og:title" content="{{ socialTitle }}">
            <meta property="og:description" content="{{ socialDesc }}">
            <meta property="og:url" content="{{ craft.request.url }}">
            {% if entry.heroImage is defined and entry.heroImage.count %}
                <meta property="og:image" content="{{ siteUrl | slice(0,-1) }}{{ entry.heroImage.first().url }}">
            {% endif %}

            <meta name="twitter:card" content="{% if blog is defined %}blog{% else %}summary{% endif %}" />
            <meta name="twitter:title" content="{{ socialTitle }}">
            <meta name="twitter:description" content="{{ socialDesc }}">
            {% if entry.heroImage is defined and entry.heroImage.count %}
                <meta name="twitter:image" content="{{ siteUrl | slice(0,-1) }}{{ entry.heroImage.first().url }}">
            {% endif %}
        {% else %}
            <title>QC Family Tree</title>
        {% endif %}


        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/site.css?v={{ resourceVersion }}">

        {% block head %}{% endblock %}

    </head>

    <body {% if entry is defined %}id="{{ entry.slug }}"{% endif %}>

       {#  <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6N6WCK"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) --> #}

        {% include '_includes/header' %}

        <div class="site-container">

             {% include '_includes/hero' %}

            {% block content %}
                <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
            {% endblock %}

            {% include '_includes/footer' %}

        </div>

        <!--BEGIN JAVASCRIPT-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="/js/site.js?v={{ resourceVersion }}"></script>
        {% block scripts %}{% endblock %}
        <!--END JAVASCRIPT-->

    </body>
 </html>